/* Font */
* {
    font-family: 'Poppins';
}

/* Home page styling*/

/* Navbar */
.navbar.navbar-expand-sm.navbar-right li a {
    font-weight: 300;
}

.navbar-brand {
    font-weight: 700;
}

.navbar {
    color: #141214;
}

/* Hero section*/
#heroimage {
    width: 710px;
}

/* Padding for row */
.row {
    padding-top: 5%;
    padding-left: 5%;
}

/* Hero body text styling */
.hero-body {
    padding-top: 10%;
}

/* Projects page styling*/

/* Styling for project containers 1 and 2*/
#project-container1 {
    padding-top: 5%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 80%;
    height: 60%;
    background: #514747;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-bottom: 5%;
  }

#project-container2 {
    padding-top: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 80%;
    height: 60%;
    background: #514747;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-bottom: 5%;
  }

/* H1 styling */
h1 {
    font-weight: bolder;
    font-size: 48px;
    color:  #141214; 
}

/* Project 1 cover image styling */
img.projectimage {
    width: 440px;
    height: 330px;
    margin-right: 10%;
}

/* H2 styling */
h2 {
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
}

/* Project description styling */
p.project-desc {
    font-weight: lighter;
    font-size: 20px;
    color: #FFFFFF;
    margin-right: 5%;
}

/* Link styling */
a {
    text-decoration: none;
}

/* Project 1 cover image styling */
#cover1 {
    padding-right: 5%;
    margin-bottom: 5%;
}

/* Project 2 cover image */
#cover2 {
    padding-right: 5%;
    margin-bottom: 5%;
}

/* Individual project page styling */

/* Project 1's Banner  styling */
#banner1 {
    min-width: 100%;
}

/* Section heading styling */
.page-heading {
    font-size: 35px;
}

/* Section body styling */
.page-body {
    margin-top: -3.5%;
    margin-bottom: 2%;
    font-size: 18px;
    font-weight:200px;
}

/* Styling for mind map image */
.mindmap {
    margin-top: 2%;
}

/* Mini section heading styling */
h2.project-subheading {
    font-size: 22px;
    margin-bottom: 6%;
    color: #141214;
}

/* Section heading styling */
h1.project-subheading {
    margin-bottom: -2%;
}

/* Styling for User flow diagram */
#userflow {
    width: 550px;
    height: 355px;
    margin-bottom: 5%;
}

/* Styling for IA map */
#iamap {
    width: 550px;
    height: 355px;
    margin-bottom: 5%;
    
}

/* Right margin */
.edge {
    margin-right: 15%;
}

/* Top margin */
.top-edge {
    margin-top: 5%;
}

/* Project 2's banner styling */
img#banner2 {
    height: 100%;
    width: 100%;
}

/* Problem statement styling */
p.problem-statement {
    font-size: 18px;
}

/* Project 2 phone screens image styling */
.screens {
    margin-top: -5%;
}

/* Collapsible navbar menu icon styling */
.menu {
    opacity: 0%;
}
